<h1><%= @publisher.name %> Advertisers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Belongs to</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @advertisers.each do |advertiser| %>
    <tr>
      <td><%= advertiser.name %></td>
      <td><%= link_to 'Edit', edit_advertiser_path(advertiser) %></td>
      <td><%= link_to 'Destroy', advertiser, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  </tbody>
<% end %>
</table>

<br />

<%= link_to 'New Advertiser', new_publisher_advertiser_path(@publisher) %>
