<h1>Deals</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Proposition</th>
      <th>Value</th>
      <th>Price</th>
      <th>Description</th>
      <th>Advertiser</th>
      <th>Publisher</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @deals.each do |deal| %>
    <tr>
      <td><%= deal.proposition %></td>
      <td><%= deal.value %></td>
      <td><%= deal.price %></td>
      <td><%= deal.description %></td>
      <td><%= deal.advertiser.name %></td>
      <td><%= deal.advertiser.publisher.try(:parent).try(:name) %> <%= deal.advertiser.publisher.name %></td>
      <td><%= link_to 'Show', deal %></td>
      <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
      <td><%= link_to 'Destroy', deal, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Deal', new_deal_path %>
